.header-outer{
    width: 100%;
    background-color: #fff;
    position: fixed;
    border-bottom: solid 1px rgb(158, 158, 158);
    z-index: 2;
}

.header{
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 40px;
}

.options{
    font-family: Open Sans Condensed;
}

.option{
    margin-right: 50px;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

